@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #dfdff0;
  overflow-x: hidden;
  font-family: "Josefin Sans", serif;
}

.poppins {
  font-family: "Poppins", serif;
}

@layer utilities {
  .text-gold {
    color: #d7a449;
  }
  .bg-gold {
    background-color: #d7a449;
  }
  .bg-pattern {
    background: url("https://i.ibb.co/DKn55Qz/pattern-1.jpg") repeat;
  }
}

.stripParent:hover .second {
  transform: translateX(0);
}

.glow1 {
  top: -10%;
  left: -10%;
  width: 50px;
  height: 50px;
  box-shadow: 
    0 0 300px rgba(0, 145, 255, 0.9), 
    0 0 150px rgba(106, 0, 255, 0.8), 
    0 0 400px rgba(0, 145, 255, 0.8), 
    0 0 200px rgba(106, 0, 255, 0.7);
  border-radius: 50%;
}

.glow2 {
  bottom: -10%;
  right: -10%;
  width: 50px;
  height: 50px;
  box-shadow: 
    0 0 300px rgba(0, 145, 255, 0.9), 
    0 0 150px rgba(255, 0, 251, 0.8), 
    0 0 400px rgba(0, 145, 255, 0.8), 
    0 0 200px rgba(255, 0, 251, 0.8);
  border-radius: 50%;
}